<br>
<div>
  <br><br>
  <h3>Welcome to my app.</h3>
  <p>This is a NodeJS web app that utilizes ExpressJS to deliver HTML content through the use of Handle-Bars. In each
    section, you will have the ability to
    GET, POST, PUT & Delete data in either the Articles or Products section.
  </p>
  <p>
    Please click on buttons above and take a look!
  </p>
  <p>
    thanks,
  </p>
  <p>
    Lewis
  </p>
</div>