<div id="linkContainer">
  <a class="button four columns" href="/">SEARCH</a>
  <a class="button four columns" href="/articles">EDIT</a>
  <a class="button four columns" href="/products">DELETE</a>
</div>

<div>
  <table class="u-full-width">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Inventory</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Gibson Les Paul</td>
        <td>$2600</td>
        <td>10</td>
      </tr>
      <tr>
        <td>Fender Telecaster</td>
        <td>$1200</td>
        <td>10</td>
      </tr>
    </tbody>
  </table>
</div>